$themes: (
  blue: (
    primary-bg: #0288d1,
    primary-color: #e411b6,
    menu-bg: #41c4f8,
    menu-text-color: #fff,

    normal-size: 12px,
    big-size: 20px,
  ),
  black: (
    primary-bg: #000,
    primary-color: rgb(203, 240, 38),
    menu-bg: #333,
    menu-text-color: #fff,

    normal-size: 20spx,
    big-size: 40px,
  ),
);
